<!DOCTYPE html>
<html lang="en">
<head>
   <!-- Metas -->
   <meta charset="utf-8">
   <title>random-pic.js - error</title>
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- Css -->
   <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.discordapp.com/attachments/760100408453627904/893881988841373786/rpjsLogo.png">
   <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.discordapp.com/attachments/760100408453627904/893881988841373786/rpjsLogo.png">
   <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.discordapp.com/attachments/760100408453627904/893881988841373786/rpjsLogo.png">
   <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
   <link href="css/main.css" rel="stylesheet" type="text/css" media="all"/>
   <link rel="stylesheet" href="css/bootstrap-dropdownhover.min.css">
   <link href="css/flexslider.css" rel="stylesheet" type="text/css"  media="all" />
   <link href="css/magnific-popup.css" rel="stylesheet" type="text/css"  media="all" />
   <link href="css/fonts.css" rel="stylesheet" type="text/css"  media="all" />
   <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
</head>
<body>
<!-- Preloader -->
<div class="loader">
   <!-- Preloader inner -->
   <div class="loader-inner">
      <svg width="120" height="220" viewbox="0 0 100 100" class="loading-spinner" version="1.1" xmlns="http://www.w3.org/2000/svg">
         <circle class="spinner" cx="50" cy="50" r="21" fill="#ffffff" stroke-width="4"/>
      </svg>
   </div>
   <!-- End preloader inner -->
</div>
<!-- End preloader-->
<!--Wrapper-->
<div class="wrapper">
   <!--Section-->
   <section class="hero">
      <!--Container-->
      <div class="container">
         <!--row-->
         <div class="row justify-content-between align-items-center">
            <div class="col-12 col-md-6 order-lg-2 mb-5 mb-lg-0">
               <img class="img-fluid" src="assets/svg/404.svg" alt="">
            </div>
            <div class="col-12 col-md-6 col-lg-5 mb-4 text-center text-md-left order-lg-1">
               <h1 class="display-4  font-weight-500 font-size-md">Page not found</h1>
               <p class=" text-gray">Oops! Look like the page you'r looking for is not available.</p>
               <a class="btn btn-primary btn-wide " href="/">Go Back</a>
            </div>
         </div>
         <!--end of row-->
      </div>
      <!--end of container-->
   </section>
   <!--Section-->
   <!--Section-->
   <div class="align-content-center justify-content-center display-flex">
      <section class="onTop--of-footer spacer-double-xxs text-center bg-azure rounded-lg">
         <!--Container-->
         <div class="container">
            <!--row-->
            <div class="row">
               <div class="col">
                  <span class="mr-2 text-white"><span class=" fab fa-discord mr-2"></span>If you need any support you can join our </span>
                  <a href="https://discord.gg/4zY83B9GnZ" class="text-white font-size-15 font-weight-500">Discord Server ›</a>
               </div>
            </div>
            <!--end of row-->
         </div>
         <!--end of container-->
      </section>
   </div>
   <!--End section-->
   <!--To the top-->
   <a class="scroll-to-top scroll" href="#wrapper"><span class=" fa fa-angle-up top-icon "></span></a>
   <!-- End to the top -->
</div>
<!-- End wrapper-->
<!--Javascript-->
<script src="js/jquery-1.12.4.min.js" ></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<script src="js/smooth-scroll.js" ></script>
<script src="js/jquery.magnific-popup.min.js" ></script>
<script src="js/jquery.countdown.min.js" ></script>
<script src="js/placeholders.min.js"></script>
<script src="js/script.js"></script>
<!-- Google analytics -->
<!-- End google analytics -->
</body>
</html>

